
text.highcharts-credits {
  display: none !important;
}

.table td {
  padding: 0.75rem;
  vertical-align: initial;
  border-bottom: 1px solid #eceeef;
}

.nonMemberUrlDiv {
  padding-bottom: 1rem;
  margin: auto;
}

.nonMemberUrlBtn { 
  background-color: #107896;
  color: #fff;
  margin-top: 14px;
}

.nonMemberUrlHeader {
  color: #444;
}

.addFormDivMargin {
  margin-top: 15vh
}

@media (max-width: 575px) { 
  .addFormDivMargin {
    margin-top: 5vh
  }
  .nonMemberUrlDiv {
    height: 20vh;
  }
  .nonMemberUrlBtn { 
    margin-top: 14px;
  }
  .nonMemberUrlHeader {
    font-size: 1rem;
  }
 }

